<div class="banner show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/1400/350/<%= @list.name %>);">
  <div class="container align-items-center">
    <div class="row mx-auto justify-content-center mb-5">
        <h1 style="text-shadow: 2px 2px #000000;"><%= @list.name %></h1>
    </div>
    <div class="row mx-auto justify-content-center">
      <%= link_to "Back", root_path, class: "btn btn-warning mr-2", style: "box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"%>
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-warning ml-2", style: "box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"%>
    </div>
  </div>
</div>



<div class="container" style="margin-top: 16px">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-6 my-2">
        <div class="card" style="width: 100%;">
          <img src="https://loremflickr.com/400/200/<%= bookmark.movie.title %>" class="card-img-top" style="height: 200px" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %> | <%= bookmark.movie.rating %> </h5>
            <p class="card-text" style="height: 80px">
              <%= bookmark.movie.overview %>
            </p>
            <p class="card-text d-flex justify-content-between">
              "<%= bookmark.comment %>
              <%= link_to "delete", bookmark_path(bookmark), method: :delete %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>









